body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url("https://fondosmil.com/fondo/21960.jpg"); /* Reemplaza "ruta_de_la_imagen.jpg" con la ruta de la imagen de fondo que deseas utilizar */
    background-size: cover;
    background-position: center;
    color: #3BFF00;
}

/* Resto del código CSS... */
